<div class="left-component">
  <app-frame title="tested frame for nickname JENKINS TEST3">
    <h2>Nickname: {{ nickname }}</h2>
    <input [(ngModel)]="nickname" placeholder="Enter your nickname" />
  </app-frame>

  <app-frame title="tested frame for button on left panel">
    <div class="buttons">
      <app-label name="przycisk1" value="label value1"></app-label>
      <button (click)="button1Clicked()">Button 1</button>
      <app-label name="przycisk2" value="label value2"></app-label>
      <button (click)="button2Clicked()">Button 2</button>
      <app-label name="przycisk3" value="label value3"></app-label>
      <button (click)="button3Clicked()">Button 3</button>
      <app-label name="przycisk4" value="label value4"></app-label>
      <button (click)="button4Clicked()">Button 4</button>
    </div>
  </app-frame>


  </div>
